[Desktop Entry]
Name=Lungo
Comment=A simple systray applet to prevent the system from going idle or suspending on demand
Icon=lungo
Type=Application
Exec=lungo
Categories=Utility
NoDisplay=true
