[Desktop Entry]
Name=Lungo
Comment=A simple systray applet to prevent the system from going idle or suspending on demand
Icon=lungo-on
Terminal=false
Type=Application
Exec=/bin/sh -c "sleep 3 && lungo"
Categories=Utility
NoDisplay=true
